/* Header Styles */

header {
    height: 100vh;
    padding-top: 4rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position:relative;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.me {
    width: 10rem;
    height: 20rem;
    position: absolute;
    left: calc(50% - 8rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    margin-left: 2rem;
    margin-bottom: -100rem;
}

.profilePhoto {
    clip-path: circle(50%);
    margin-left: 1rem;
    width: 16rem;
    height: 16rem;
    margin-left: -2rem;
}

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 160vh;
        margin-bottom: -30rem; /* Ajusta el valor según sea necesario */
    }

    .me {
        margin-bottom: 0;
    }

    .header__container  {
        margin-bottom: 1rem;
    }

    .header__socials,
    .scroll__down {
        display:none;
    }
}

@keyframes highlight {
    0%, 100% {
      color: var(--color-white); /* Cambia el color de fondo al color deseado */
      background-color: var(--color-black); /* Cambia el color de fondo al color deseado */
    }
    30% {
      color: var(--color-primary); /* Cambia el color de fondo al color deseado */
      background-color: var(--color-#c45a0a); /* Cambia el color de fondo al color deseado */
    }
  }
  
  #letsTalkLink {
    animation: highlight 5s infinite; /* 3 segundos de duración, infinitamente repetido */
  }
